# Python
__pycache__/
*.pyc
.venv/
venv/

# Data
data/input/*
!data/input/.gitkeep

# Artifacts
artifacts/*
!artifacts/.gitkeep

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Ignore JAR files in jars folder
/jars/**/*.jar

# Ignore CSV files in scripts/csv_source
/scripts/csv_source/**/*.csv

