# Python
__pycache__/
*.pyc
.venv/
venv/

# Data
data/input/*
!data/input/.gitkeep

# Artifacts
artifacts/*
!artifacts/.gitkeep

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Ignorer tous les .jar dans le dossier jars
jars/*.jar

# Ignorer tous les .csv dans scripts/cources
.scripts/csv_source/*.csv

